<script type="x-handlebars-template">
	{{#if authenticated}}
		<a id="logout" href="/logout">Disconnect Twitter</a>
	{{else}}
		<a id="login" href="/login">Connect Twitter</a>
	{{/if}}
	<div id="icon">i</div>
	<div id="additional_info" class="hide">
		<div id="remove">X</div>
		<div id="info_text">
			<p> Lonely Planet is an attempt at stimulating sympathy and (possibly) support for strangers using real-time Twitter data.</p>

			<p>The application listens to Twitter's streaming api for metions of the term 'lonely'.  Tweets containing links, @-mentions, and RTs are discarded, and those with geographical information are geocoded.  Tweets are then pushed out to connected users and visualized on the planet.</p>

			<p>Users who are logged in through Twitter can reply to tweets.  (I'd recommend trying this.  Supportive tweets are very often favorited.)</p>

			<p>Lonely Planet was orginally developed for assignment in Stewart Smith's Visualizing JS class at NYU ITP.  In late 2014 I cleaned up the code and redeployed it.</p>

			<p> <strong>Data privacy note:</strong> User location data is never saved nor communicated to the server.</p>
		</div>
	</div>
</script>