<script type="x-handlebars-template">

	<div id="icon">i</div>
	<div id="additional_info" class="hide">
		<div id="remove">X</div>
		<div id="info_text">
			<p>Lonely Planet listens to the Twitter streaming api for mentions of the term Lonely.</p>
		</div>
	</div>
</script>