<!DOCTYPE html>
<html>
	<head>
		<title>Lonely Planet</title>
		<!-- meta -->
		<meta http-equiv="content-type" content="charset=utf-8" />
		<!-- stylesheets -->
		<link rel="stylesheet" type="text/css" href="static/styles/base.css" />
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
		<!-- javascript --> 
		<script charset="utf-8" src="static/scripts/vendor/geolocation.js"></script>
	</head>
	<body>
		<audio id="audio_player" autoplay="autoplay">
			<source src="static/media/audio/mad_world.mp3" type="audio/mp3">
		</audio>
		<div id="three"></div>

		<div id="nav" class="shown">
			<h1>Lonely Planet</h1>
			<div id="tweets"></div>
		</div>

		<div id="control_panel" class="hidden">
			<div id="flag"></div>
			<div id="controls">
				<div id="control_title">Controls</div>
				<div id="control_wrapper">
					<div class="option-wrapper">
						<div class="option-type visibility">Tweets</div>
						<div id="show_tweets" class="option-one option active">Show</div>
						<div id="hide_tweets" class="option-two option">Hide</div>
					</div>
					<div class="option-wrapper">
						<div class="option-type audio" id="music">Music</div>	
						<div class="audio-control active-audio extra-margin" id="play">play</div>
						<div class="audio-control" id="pause">pause</div>
						<div class="audio-control extra-margin" id="forward">next</div>
						<div class="audio-control" id="back">previous</div>
						<div id="song_name">Gary Jules - Mad World</div>
					</div> 
					<div class="option-wrapper">
						<div class="option-type">Follower Count</div>
						<div id="slider_wrapper">
							<div id="slider_pos">1000</div>
							<div class="slider" id="follower_count_slider"></div>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div id="authenticated">{{ authenticated }}</div>
		
		<script charset="utf-8" src="static/scripts/vendor/jquery.js"></script>
		<script charset="utf-8" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/skip.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/three.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/underscore.min.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/backbone.min.js"></script>
		<!-- shaders -->
		<script charset="utf-8" src="static/scripts/vendor/shaders/CopyShader.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/shaders/FilmShader.js"></script>		
		<script charset="utf-8" src="static/scripts/vendor/shaders/ShaderExtras.js"></script>
		<!-- controls -->
		<script charset="utf-8" src="static/scripts/vendor/controls/FlyControls.js"></script>
		<!-- postprocessing -->
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/EffectComposer.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/ShaderPass.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/MaskPass.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/shaderPass.js"></script>	
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/RenderPass.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/FilmPass.js"></script>
		<!-- application -->
		<script charset="utf-8" src="static/scripts/views/planet.js"></script>
		<script charset="utf-8" src="static/scripts/app.js"></script>
		<script charset="utf-8" src="static/scripts/audio.js"></script>
	</body>
</html>