<!DOCTYPE html>
<html>
	<head>
		<title>Lonely Planet</title>
		<!-- meta -->
		<meta http-equiv="content-type" content="charset=utf-8" />
		<!-- stylesheets -->
		<link rel="stylesheet" type="text/css" href="static/styles/base.css" />
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
	</head>
	<body>
		<div id="three"></div>

		<div id="nav" class="shown">
			<h1>Lonely Planet</h1>
			<div id="tweets"></div>
		</div>
		<div id="control_panel" class="hidden"></div>

		<div id="authenticated">{{ authenticated }}</div>
		
		<!-- javascript --> 
		<script charset="utf-8" src="static/scripts/vendor/geolocation.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/jquery.js"></script>
		<script charset="utf-8" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/skip.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/tween.min.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/three.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/handlebars.min.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/underscore.min.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/backbone.min.js"></script>
		<!-- shaders -->
		<script charset="utf-8" src="static/scripts/vendor/shaders/CopyShader.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/shaders/FilmShader.js"></script>		
		<script charset="utf-8" src="static/scripts/vendor/shaders/ShaderExtras.js"></script>
		<!-- controls -->
		<script charset="utf-8" src="static/scripts/vendor/controls/FlyControls.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/controls/OrbitControls.js"></script>
		<!-- postprocessing -->
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/EffectComposer.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/ShaderPass.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/MaskPass.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/shaderPass.js"></script>	
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/RenderPass.js"></script>
		<script charset="utf-8" src="static/scripts/vendor/postprocessing/FilmPass.js"></script>
		<!-- application -->
		<script charset="utf-8" src="static/scripts/models/tweet.js"></script>
		<script charset="utf-8" src="static/scripts/collections/tweets.js"></script>
		<script charset="utf-8" src="static/scripts/views/tweets.js"></script>
		<script charset="utf-8" src="static/scripts/views/audio.js"></script>
		<script charset="utf-8" src="static/scripts/views/planet.js"></script>
		<script charset="utf-8" src="static/scripts/app.js"></script>
	</body>
</html>