body {
	margin: 0;
	background-color: #000;
	padding: 0;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
}

#additional_info {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0px;
	background-color: rgba(255,255,255,.7);
	color: rgba(50,50,50,1);
	font-size: 16px;
	z-index: 202;
	-webkit-transition: opacity .25s ;
}

#info_text {
	position: relative;
	margin: 10% auto;
	height: 50%;
	width: 30%;
}

#login, #logout {
	position: absolute;
	top: 26px;
	right: 90px;
	font-size: 14px;
	font-weight: 200;
	font-family: "HelveticaNeueW01-Thin", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,.3);
	z-index: 10;
	text-decoration: none;
}

#login:hover, #logout:hover {
	cursor: pointer;
	color: rgba(255,255,255,1);
}

#icon {
	position: absolute;
	top: 20px;
	right: 40px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: rgba(255,255,255,0);
	border: 2px solid gray;
	color: gray;
	font-size: 18px;
	text-align: center;
	line-height: 180%;
	z-index: 1;
}

#icon:hover {
	cursor: pointer;
	border: 2px solid white;
	color: white;
}

#remove {
	position: absolute;
	top: 25px;
	right: 40px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	font-size: 30px;
	font-weight: 200;
	font-family: "HelveticaNeueW01-Thin", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#remove:hover {
	cursor: pointer;
}

#nav{
	position:absolute;
	width: 350px;
	height:100%;
	background-color: rgba(255,255,255, .1);
	display:inline-block;
	z-index: 200;
}

.img {
	display: inline-block;
	float:left;
	margin-right:10px;
}

.tweet{
	background-color: rgba(255,255,255,.4);
	display: inline-block;
	margin: 10px 10px 0px 15px;
	position: relative;
	padding: 10px;
	width: 300px;
	opacity: 1;
	-webkit-border-radius: 5px;
	-webkit-transition: all .5s;
}

.tweet-text img.emojione {
	height: 16px;
}

.tweet:hover{
	background-color:rgba(255,255,255,.7);
}

.tweet-wrapper{
	display:inline-block;
	width: 240px;
}

.location {
	display: inline-block;;
	font-size: 10px;
	text-align: right;
	float: right;
}

.user-name{
	font-weight:bold;
	height: 20px;
}

.user-name a {
	display: inline-block;
	color:black;
	float: left;
	max-width: 120px;
	height: 20px;
	overflow: hidden;
}

.followers{
	font-size:10px;
	line-height:90%;
	margin-bottom:5px;
}

.reply {
	display: none;
	float:right;
}

.reply-input {
	display: block;
	border:1px solid gray;
	border-radius:5px;
	padding:10px;
	z-index: 201;
}

.reply-button{
	display:block;
	float:right;
	margin-top: 5px;
}


h1 {
	line-height: 200%;
	font-size:45px;
	width:300px;
	color:gray;
	font-family: "HelveticaNeueW01-Thin", "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0px auto;
	font-weight: 100;
	letter-spacing: 1px;
}

#control_panel{
	position:relative;
	top: 50%;
  	transform: translateY(50%);
	float:right;
	width:215px;
	height:370px;
	/*margin:15% 0px;*/
	color:gray;
}

#control_title{
	position: relative;
	display: block;
	font-size:16px;
	margin: 15px 5px 10px 5px;
	text-align:center;
}

#icon.hide, #additional_info.hide {
	z-index: 0;
	opacity: 0;
	-webkit-transition: all .25s;
}

.hidden{
	left:195px;
	-webkit-transition: all .25s;
}

.shown{
	left:0px;
	-webkit-transition: all .25s;
}

.hidden-tweets{
	left:-350px;
	-webkit-transition: all .25s;
}

.tweet.hidden-tweet {
	position: absolute;
	top: -300px;
	opacity: 0;
	-webkit-transition: all 2s;
}

#controls{
	background-color: rgba(255,255,255, .1);
	float:right;
	height:100%;
	width:195px;
	-webkit-border-radius:5px 0px 0px 5px;
}

#controls {
	text-decoration: none;
	display: block;
	padding:0px;
	margin:0px;
}

.option-wrapper div{
	float:left;
	width:25%;
	padding:0px 5px;
	margin:5px 0px ;
	text-align:center;
	height:24px;
	line-height:193%;
}

.option-wrapper .option-type {
	display: block;
	font-size:14px;
	line-height: 250%;
	width: 100%;
	margin-bottom:0px;
}

.option-wrapper .option {
	border: 1px solid gray;
	margin:10px auto;
}

.option:hover {
	cursor:pointer;
	border: 1px solid white;
	color: white;
}

.option-wrapper .option-one {
	margin:10px 10px 10px 35px;
}

#music{
	width:100%;
	text-align: center;
	display: inline-block;
	margin-bottom: 0px;
}

.option-wrapper .audio-control{
	display:inline-block;
	float:left;
	height:30px;
	line-height: 300%;
	text-align: center;
	width:25%;
	border: 1px solid gray;
	margin:10px 0px 0px 10px;
	font-size: 10px
}

.option-wrapper .extra-margin{
	margin: 10px 0px 0px 35px;
}

.audio-control:hover{
	cursor:pointer;
	border: 1px solid white;
	color: white;
}

.active, .active-audio {
	background-color: rgba(255,255,255, .2);
}

#song_name{
	width:100%;
	margin: 10px 5px;
}

#slider_wrapper{
	position: block;
	width:100%;
	margin:10px 0px;
}

#slider_pos{
	width:20px;
	display: inline-block;
	margin:0px 10px;
}

#follower_count_slider{
	width:60%;
	height:5px;
	margin-top:8px;
}

.ui-slider-handle{
	border-radius:10px !important;
	top:-7px !important;
}

#flag{
	position:relative;
	float:left;
	height:50px;
	width:20px;
	margin:0px;
	margin-top:70%;
	background-color: rgba(255,255,255, .1);
	z-index:200;
	-webkit-border-radius:5px 0px 0px 5px;
}

#flag:hover{
	cursor:pointer;
}

#three
{
	position: absolute;
	width:100%;
	height:100%;
}

#tw_background{
	background-color: rgba(100,100,100, .6);
	display:none;
	height:100%;
	position: absolute;
	width:100%;
}

#tw_container{
	background-color: white;
	display: block;
	height: 300px;
	margin: 200px auto;
	position: relative;
	width:400px;
	padding:1px;
	-webkit-border-radius: 5px;
}

#tw_container h2{
	position: relative;
	text-align: center;
}

#tw_wrapper{
	display:block;
	width: 320px;
	height: 160px;
	margin: 70px auto;
	position:relative;
	text-align: center;
}

#tw_container button{
	/*border:0px;*/
	font-size:20px;
	height:50px;
	width:150px;
	border-radius:5px;
}

#tw_container p {
	position: relative;
}
